<div style="text-align: center;">
    <h2>Add Task</h2>
    <hr>
    <form  method="POST">
        {% csrf_token %}
        <input type="text" name="question" placeholder="Question:" required>
        <br><br>
        <input type="text" name="option1" placeholder="option1:" required>
        <br><br>
        <input type="text" name="option2" placeholder="option2:" required>
        <br><br>
        <input type="text" name="option3" placeholder="option3:">
        <br><br>
        <input type="text" name="option4" placeholder="option4:">
        <br><br>
        <input type="text" name="answer" placeholder="Answer:">
        <br><br>
        <input type="submit" value="Submit">
    </form>

</div>